<p id="notice"><%= notice %></p>

<p>
  <strong>Pic file:</strong>
  <%= @sample_pic.pic_file %>
</p>

<%= link_to 'Edit', edit_sample_pic_path(@sample_pic) %> |
<%= link_to 'Back', sample_pics_path %>
